.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 1.2rem;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    transition: all 0.25s ease-out;
}
.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url(../assets/Lupa.svg) no-repeat;
    background-position: 1em;
}
.banner__pesquisa:focus {
    outline: none;
    box-shadow: 0 0 5px var(--branco);
    background-color: var(--branco);
    color: var(--preto);
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 2.25rem;
    }

    .banner__pesquisa {
        width: 50%;
    }
}
