.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1em 0 1rem 0;
}
.swiper-slide {
    padding: 0.2em;
}
.swiper-slide img {
    width: 100%;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}
.descricao {
    padding: 1em;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 0.9rem;
}

.botoes__item {
    margin: 0 0.5em;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.7rem;
    }
    .swiper-pagination {
        margin: 2em 0 3em 0;
    }
    .swiper {
        width: 50%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%;
        margin: 2em auto;
    }
}
@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
        gap: 0 2em;
    }
    .swiper-pagination {
        margin: 1em 0;
    }
    .swiper {
        width: 50%;
    }
    .descricao__titulo {
        font-size: 2rem;
    }
    .descricao__texto {
        font-size: 1rem;
    }
    .card {
        width: 70%;
        margin: 1em 3em;
    }
}
